@model PTLogger.Models.UserStoryModel
@{
    ViewBag.Title = "Create an Issue";
}
<h2>Create an Issue</h2>
<h3>Please give as much detail as possible including steps to recreate
    and if possible screenshots of errors</h3>
</ br></ br>
</ br></ br>
@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="multiple">
        <input type="file" class="multiple" name="files" multiple />
    </div>

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)

    <button class="btn btn-default" type="submit">Submit</button>
}



